@use 'variables-dark' as *;

.slide {
    overflow-y: hidden !important;
    transition: height 0.5s ease-in !important;
}

.nav ul {
    display: flex;
    justify-content: flex-end;
    padding: 0.5em 0;
    list-style: none;
}

.nav ul li {
    padding: 0 0.1em;
}

.nav a,
.nav-toggle {
    color: $font-color;
    padding: 0.5em 0.5em;
}

.nav-toggle {
    display: none;
}

@media (max-width: 767px) {
    .header {
        flex-direction: column;
    }

    .nav ul {
        flex-direction: column;
        padding-bottom: 1em;
    }

    .nav ul li {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .nav ul li a {
        display: block;
        padding: 0.5em 0.5em;
    }

    .js .nav-toggle {
        display: block;
        float: right;
        width: 2em;
        margin: 0em 0em;
        font-size: 1.5rem;
        line-height: 2em;
        text-align: right;
        cursor: pointer;
    }
}
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1em; 
}

.gallery-item img {
    width: 100%;
    height: auto;
} 
