@use 'variables' as *;

.landingpage {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: masonry;
    gap: 1em 1em;


    @media screen and (max-width: 960px) {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 0.5em 0.5em;
        .box {
            height: 100%;
            font-size: 1em;
            padding: 0.5em;
            margin: 0;
            border-radius: 0;
            border: 1px solid #3787d2d6;
            background-color: #68a2d7d6;
            color: #fcfcfc;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
            transition: background-color 0.3s ease;
            i {
                font-size: 1em;
                margin-right: 0.5em;
            }
        }
        .box, .box.wide2, .box.wide3 {
            grid-column: span 3;
            height: 100%;
            width: 100%;
            font-size: 1em;
            padding: 0.5em;
            margin: 0;
            border-radius: 0;
        }
    }
}

.landingpage h1 {
    grid-column: span 3;
    justify-self: center;
    margin-bottom: 1em;
    font-size: 2em;
    font-weight: bold;
    color:$font-color;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.box {
    border: 1px solid #3787d2d6;
    border-radius: 5px;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    font-weight: bold;
    color: #fcfcfc;
    text-decoration: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    background-color: #68a2d7d6;
    transition: background-color 0.3s ease;
}   
.box.wide2 {
    grid-column: span 2;
    height: 100%;
}

.box.wide3 {
    grid-column: span 3;
    height: 100%;
}

.box i {
    margin-right: 0.5em;
    font-size: 1.5em;
    color: #fcfcfc;
    transition: color 0.3s ease;
    margin-left: 0.5em;
    text-decoration: none;
}

.box a {
    text-decoration: none;
    color: #fcfcfc;
}

.box:hover {
    background-color: #e0e0e0;
    color: #0a0a0a;
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.box:hover i {
    color: #0a0a0a;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 5px;
    border: 1px solid #3787d2d6;
    background-color: #68a2d7d6;
    width: 100%;
    font-size: 1em;
    color: #fcfcfc;
    transition: color 0.3s ease;
}

.menu-item i {
    margin-right: 0.5em;
    margin-left: 0.5em;
    padding: 0.5em;
    font-size: 1em;
    color: #fcfcfc;
    transition: color 0.3s ease;
}

.menu-item:hover {
    background-color: #e0e0e0;
    color: #0a0a0a;
}

.menu-item:hover i {
    color: #0a0a0a;
}

.menu {
    grid-column: span 1;
    display:flex;
    flex-direction: column;
    margin: 0.5em;

    @media screen and (max-width: 960px) {
        display: none;
    }
}

.menu-item a {
    text-decoration: none;
    color: #fcfcfc;
}

.menu-item:hover a {
    color: #0a0a0a;
}

.content {
    grid-column: span 2;
    padding: 1em;
    border-radius: 5px;
    border: 1px solid #3787d2d6;
    background-color: $background-color;
}

