.slide {
    overflow-y: hidden !important;
    transition: height 0.5s ease-in !important;
}

body {
    height: 100%;
    background-image: url('../../../image/hav.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.nav ul {
    display: flex;
    justify-content: flex-end;
    padding: 0.5em 0.5em;
    list-style: none;
}

.nav ul li {
    padding: 0.1em 0.1em;
}

.nav a,
.nav-toggle {
    color: #333;

}

.nav-toggle {
    display: none;
}

@media (max-width: 767px) {
    .header {
        flex-direction: column;
    }

    .nav ul {
        flex-direction: column;
        padding-bottom: 1em;
    }

    .nav ul li {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .nav ul li a {
        display: block;
        padding: 0.5em 0.5em;
    }

    .js .nav-toggle {
        display: block;
        float: right;
        width: 2.5em;
        font-size: 1.5rem;
        line-height: 2em;
        text-align: right;
        cursor: pointer;
    }
}